:root {
  --color-primary: #fc7234;
  --color-secondary: #ffa22b;
  --color-tertiary: #f7c54c;
  --color-link: #07b9fb;
  --color-mask: rgba(0, 0, 0, 0.15);
  --color-deepblue: #62628d;
  --color-lightblue: #ededf2;
}
